.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px;
    background-color: #a4f0f08e;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-container > div {
    background-color: rgba(214, 135, 135, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    height: auto;
    width: 400px;
  }

